<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.edu.main.mapper.OriginalFileMapper">
    <resultMap id="OriginalFileResultMap" type="kr.co.edu.main.entity.OriginalFile">
        <id property="idx" column="idx"/>
        <result property="fileOrigin" column="fileOrigin"/>
        <result property="fileType" column="fileType"/>
        <result property="fileSize" column="fileSize"/>
        <result property="fileSaveDirection" column="fileSaveDirection"/>
        <result property="fileSaveName" column="fileSaveName"/>
    </resultMap>

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS OriginalFile (
        id SERIAL PRIMARY KEY,
        fileOrigin VARCHAR(255) NOT NULL,
        fileType VARCHAR(255) NOT NULL,
        fileSaveName VARCHAR(255) NOT NULL,
        fileSaveDirection VARCHAR(255) NOT NULL,
        fileSize VARCHAR(255) NOT NULL
        );
    </update>

    <insert id="InsertOriginalFile">
        INSERT INTO OriginalFile ( fileOrigin, fileType, fileSaveName, fileSaveDirection, fileSize)
        VALUES ( #{fileOrigin},#{fileType},#{fileSaveName},#{fileSaveDirection},#{fileSize} )
    </insert>

    <select id="findFirstIdx">
        SELECT MAX(id)
        FROM OriginalFile
    </select>

</mapper>